.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(.loader_inline) {
        width: 100%;
        height: 100%;
    }

    svg {
        width: 100px;
        height: 100px;
        animation: 1s linear 0s infinite rotate;
    }

    &__label {
        padding-left: 2em;

        &::before {
            content: "Идет загрузка";
        }

        &::after {
            content: "";
            display: inline-block;
            width: 3em;
            animation: 1.2s linear 0.2s infinite loading-ellipsis;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loading-ellipsis {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}
