@import "../../sass/_variables.scss";
@import "../../sass/_mixins.scss";

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    background: $green-light;

    @include width-600 {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        flex: 0 0 48px;
    }

    &__upper,
    &__lower {
        display: flex;
        flex-direction: column;

        @include width-600 {
            flex-direction: row;
        }
    }

    &__lower {
        &::before {
            content: "";
            display: block;
            width: 32px;
            margin: auto;
            border: 1px solid #b9b9b9;

            @include width-600 {
                width: 0;
                height: 32px;
            }
        }
    }

    &__item {
        display: flex;
        width: 48px;
        height: 60px;
        justify-content: center;
        align-items: center;

        @include width-600 {
            height: 48px;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        &_active {
            background: #a4c7a5;
        }
    }
}
