.records {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.record {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    line-height: 20px;

    &__name {
        flex: 0 0 150px;
        font-weight: 300;

        &::after {
            content: ":";
        }
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px;
        flex: 1 1 250px;
    }
}
