@import "../../sass/_variables.scss";

.text-field {
    position: relative;

    &__input {
        width: 400px;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid #cdcdcd;
        border-radius: 2px;
        font: 400 14px/20px $font-family;
        color: #3b3b3b;

        &::placeholder {
            display: block;
            margin-top: -10px;
            color: #808080;
        }

        &:hover {
            border-color: #808080;
        }
        &:focus {
            border-color: #3b3b3b;
        }

        &:not(:placeholder-shown) {
            + .text-field__label {
                top: 0;
                opacity: 1;
            }
        }
    }

    &__label {
        position: absolute;
        left: 8px;
        top: 50%;
        padding: 0 4px;
        background: #ffffff;
        color: #808080;
        font-size: 10px;
        line-height: 12px;
        opacity: 0;
        transform: translateY(-50%);
        transition: 0.6s ease top;
        pointer-events: none;
    }
}
